 header img {
     width: 240px;
     height: 200px;
     border-radius: 100%;
     border: 3px solid #00B4CC;
     /* box-shadow: 10px 14px 28px rgba(0, 0, 0, 0.25), 3px 10px 10px rgba(0, 0, 0, 0.22); */
 }
 
 .title {
     font-size: 3.5rem;
 }
 
 .filler {
     background: -moz-linear-gradient(left, #e5405e 0%, #ffdb3a 25%, #3fffa2 50%, #3fffa2 50%, #1a9be0 73%, #ba68ed 100%);
     /* FF3.6-15 */
     background: -webkit-linear-gradient(left, #e5405e 0%, #ffdb3a 25%, #3fffa2 50%, #3fffa2 50%, #1a9be0 73%, #ba68ed 100%);
     /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to right, #e5405e 0%, #ffdb3a 25%, #3fffa2 50%, #3fffa2 50%, #1a9be0 73%, #ba68ed 100%);
     outline: none;
     color: hsla(0, 0%, 100%, 0.75);
     border: none;
     display: -webkit-flex;
     display: flex;
     -webkit-flex-direction: column;
     flex-direction: column;
     -webkit-justify-content: center;
     justify-content: center;
     color: #fff;
     text-align: center;
     white-space: nowrap;
     -webkit-transition: width 0.6s ease;
     transition: width 0.6s ease;
 }