@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(21, 32, 43);
}